*{
	font-family: "Tahoma";
	font-size: 12px;
	color: #000000;
}
body{
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}
a:hover{
	text-decoration: underline;
}

a{
	text-decoration: none;
}

.login_inputs{
	width: 200px;
}

#config_container{
	background-image: url("images/config-bg.png");
	background-repeat: repeat-x;
	height: 0px;
	overflow: hidden;
	border-bottom: 1px solid #565656;
	visibility: hidden;
}

#server_info_bar{
	height: 50px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e1e1e1;
}

#server_name{
	position: relative;
	float: left;
	font-size: 30px;
	color: #565656;
}

#register_div{
	position: absolute;
	display: none;
	right: 10px;
	width: 500px;
	border-left: 1px solid #898989;
	border-bottom: 1px solid #898989;
	border-right: 1px solid #898989;
	background-color: #d2d2d2;
	background-image: url("images/bar-mask-large.png");
	background-position:top;
	background-repeat: repeat-x;
}


#server_action_bar{
	height:30px;
	background-color: #bebebe;
	background-image: url("images/bar-mask-small.png");
	background-repeat: repeat-x;
	border-bottom: 1px solid #898989;
}

#login_group{
	height: 26px;
	padding-top: 4px;
	position: relative;
	float: right;
	width: 510px;
}

#action_group{
	float: left;
	padding-top: 4px;
}

.action_links{
	color: #0b6aa4;
	font-size: 16px;
	position: relative;
	float: left;
	margin-left: 20px;
}

#user_info{
	font-size: 14px;
	padding-top: 6px;
	margin-right: 10px;
	position: relative;
	float: right;
	display: none;
}

#user_info_username{
	font-size: 14px;
	text-decoration: underline;
}

#action_logout{
	font-size: 14px;
	color: #0b6aa4;
}

#user_info_link{
	color: #69757c;
	font-size: 40px;
}

#files_container{
	width: 800px;
}

.uploaded_file:hover{
	background-color: #e1e1e1;
}

.uploaded_file{
	font-size: 14px;
}

.uploaded_file_info{
	display: none;
}

.file_row_info{
	background-color: #ededed;
	border: 1px solid #bebebe;
	border-top: 0;
	width: 100%;
}

#info_used_space, #info_total_files, #info_max_upload_size{
	font-weight: bold;
}




/* Roar Notifications */

.roar-body{
	position: absolute;
	font: 12px/14px "Lucida Grande", Arial, Helvetica, Verdana, sans-serif;
	color: #fff;
	text-align: left;
	z-index: 999;
}

.roar{
	position: absolute;
	width: 300px;
	cursor: pointer;
}
.roar-bg{
	position: absolute;
	z-index: 1000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-moz-border-radius: 4px;
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}
.roar-body-ugly .roar{
	background-color: #333;
}
.roar-body-ugly .roar-bg{
	display: none;
}
.roar h3{
	position: relative;
	padding: 10px 10px 0;
	margin: 0;
	border: 0;
	font-size: 13px;
	color: #ffffff;
	z-index: 1002;
}
.roar p{
	position: relative;
	padding: 7px 7px 7px;
	margin: 0;
	font-size: 12px;
	color: #ffffff;
	z-index: 1002;
}